@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  scroll-behavior: smooth;
}

.cd {
    position: fixed;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 10;
    background-color: white
}

*::-webkit-scrollbar{
  display: none;
}


.TeamCard {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.TeamCard:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.CardPhoto{
  transition: width 0.1s;
}
.TeamCard:hover .CardPhoto {
  width: 180px;
}



